html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 96px;
	margin-bottom: 96px;
}

/* Cookies component styling overrides */
/* :root {
	--stf-cookies-primary-color: #444c56;
	--stf-cookies-border-color: #444c56;
	--stf-cookies-dark-color: #adbac7;
	--stf-cookies-light-color: #22272e;
	--stf-cookies-border-radius: 4px;
	--stf-cookies-font-size: 1rem;
	--stf-cookies-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.stf-cookies__toggle img {
	filter: invert(1);
} */
